      <div class="profile-sidebar">
        <div class="profile-userpic">
          <img src="<%= @builder.avatar %>" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @builder.name %>
          </div>
          <div class="profile-usertitle-job">
            <%= @builder.is_admin? ? 'Admin' : 'Builder' %>
          </div>
        </div>
        <% if current_user && (current_user.id === @builder.id) %>
          <div class="profile-usermenu">
            <ul class="nav">
              <li<% if current_page? url_for(path_to_builder(@builder)) %> class="active"<% end %>>
                <a href="<%= url_for(path_to_builder(@builder)) %>"> <i class="fa fa-home"></i> Contributions </a>
              </li>
              <li<% if current_page? url_for(path_to_edit_builder(@builder)) %> class="active"<% end %>>
                <a href="<%= url_for(path_to_edit_builder(@builder)) %>"> <i class="fa fa-user"></i> Account Settings </a>
              </li>
              <% if false %>
                <li>
                  <a href="#"> <i class="fa fa-check"></i> Print Jobs </a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-flag"></i> Help </a>
                </li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
