<div>
  <% prj = builder_contribution[:project] %>
  <% parts = builder_contribution[:parts] %>
  <h2><%= link_to prj.name, prj %> (<%= pluralize(parts.count, 'Part')%>)</h2>
  <div class="builder-contribution">
    <div class="row">
      <% parts.each do |pj| part=pj.part %>
        <div class="col-sm-3 col-xs-6">
          <div class="thumbnail">
            <%= image_tag( part.preview_url(:square), className: 'img-responsive') %>
            <p>Part: <%= part.part_name %></p>
            <p>Received: <%= pj.updated_at.to_date.to_s(:long).gsub(/ /,'&nbsp;').html_safe %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
