<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <%= render partial: "builder_sidebar" %>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
         <h1>Builder Contributions</h1>
         <% if @current_user && @current_user.is_admin? %>
            <h2>Active Print Jobs</h2>
            <%= render partial: "builder_admin_active_contribution", collection: @active_project_parts.values, as: :builder_contribution %>
            <% if ! @rejected_project_parts.nil? %>
              <h2>Rejected Print Jobs</h2>
              <%= render partial: "builder_admin_active_contribution", collection: @rejected_project_parts, as: :builder_contribution %>
            <% end %>
            <%= if ! @project_parts.nil? %>
              <h2>Accepted Parts</h2>
            <% end %>
         <% end %>
         <%= render partial: "builder_contribution", collection: @project_parts.values, as: :builder_contribution %>
      </div>
    </div>
  </div>
</div>
