Project: <%= part.project.name %><br />
Part: <%= part.part.id %><br />
Expected Dimensions: <%= part.part.extents %><br />
<% if !!part.measurements %>
  Reported Dimensions: <%= part.measurements %><br />
<% end %>
<% if !!part.user %>
  Email: <a href='mailto:<%= part.user.name%><<%= part.user.email %>>'><%= part.user.name%> &lt;<%= part.user.email %>&gt;</a><br />
<% end %>
<% if !!part.shipping_info %>
  Shipping Info: <%= part.shipping_info %><br />
<% end %>
Last Updated: <%= time_ago_in_words(part.updated_at) %> ago
