    <div class="well">
      <div class="row">
        <div class="col-md-2">
          <%= part_preview(shipping_part.part) %>
        </div>
        <div class="col-md-2">
          <%= print_job_photo_preview(shipping_part) %>
        </div>
        <div class="col-md-6">
          <%= render partial: "part_details", locals: { part: shipping_part } %>
        </div>
        <div class="col-md-2">
          <div class="">
            <p><%= button_to("Unassign", project_print_job_unassign_path(shipping_part.project_id, shipping_part.id), class: "btn btn-danger btn-block") %></p>
          </div>
          <%= render partial: "admin_part_options", locals: { part: shipping_part } %>
        </div>
	  </div>
    </div><!-- /.well -->
