    <div class="well">
      <div class="row">
        <div class="col-md-2">
          <%= part_preview(shipped_part.part) %>
        </div>
        <div class="col-md-2">
          <%= print_job_photo_preview(shipped_part) %>
        </div>
        <div class="col-md-6">
          <%= render partial: "part_details", locals: { part: shipped_part } %>
        </div>
        <div class="col-md-2">
          <div class="">
            <p><%= button_to("Accept", project_print_job_accept_path(shipped_part.project_id, shipped_part.id), class: "btn btn-primary btn-block") %></p>
            <p><%= button_to("Unassign", project_print_job_unassign_path(shipped_part.project_id, shipped_part.id), class: "btn btn-danger btn-block") %></p>
          </div>
        </div>
	  </div>
    </div><!-- /.well -->
