    <div class="well">
      <div class="row" id="verify-print-<%= verifying_part.id %>">
        <div class="col-md-2">
          <%= part_preview(verifying_part.part) %>
        </div>
        <div class="col-md-2">
          <%= print_job_photo_preview(verifying_part) %>
        </div>
        <div class="col-md-6">
          <%= render partial: "part_details", locals: { part: verifying_part } %>
        </div>
        <div class="col-md-2">
          <div class="">
            <p><%= button_to("Accept", project_print_job_verify_path(verifying_part.project_id, verifying_part.id), class: "btn btn-primary btn-block") %></p>
            <p><%= button_to("Unassign", project_print_job_unassign_path(verifying_part.project_id, verifying_part.id), class: "btn btn-danger btn-block") %></p>
          </div>
        </div>
	  </div>
    </div><!-- /.well -->
