<div class="container">
  <h1><% if @layer %>Parts for Layer <%= @layer %> of <% else %>All parts for <% end %><%= @project.name %></h1>
  <p>View another layer:</p>
	<ul class="nav nav-tabs">
		<% @layers.each do |l| %>
			<li role="presentation" <% if l == @layer %>class="active"<% end %>><%= link_to l.to_s, layer_project_parts_path(@project, l) %></li>
		<% end %>
	</ul>
  <% ['verifying', 'shipped', 'shipping', 'printed', 'printing', 'accepted', 'unclaimed'].each do |state| %>
    <div class="container">
    <h2><%= state_name(state) %> (<%= @print_jobs[state].nil? ? 0 : @print_jobs[state].size %>)</h2>
    <p><%= state_description(state) %></p>
    <% if @print_jobs[state].nil? %>
      <p>No parts are currently in '<%= state %>'</p>
    <% else %>
      <% @print_jobs[state].each do |pj| %>
      <%= render partial: "parts/part_list_part", locals: { state: state, print_job: pj } %>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>
