<% content_for :title do %>Part <%= @part.part_name %> – <%= ActionView::Base.full_sanitizer.sanitize(@part.project.name) %> – <% end %>
<div class="container">
  <%= render partial: "parts/part_by_label_form", locals: { project: @part.project } %>
  <h1>All print jobs for Part <%= @part.part_name %> (<%= @part.id %>)</h1>
  <% if @print_jobs.empty? %>
      <%= render partial: "parts/part_list_part", locals: { state: 'unclaimed', print_job: @fpj } %>
  <% else %>
    <% @print_jobs.each do |pj| %>
      <%= render partial: "parts/part_list_part", locals: { state: pj.aasm_state, print_job: pj } %>
    <% end %>
  <% end %>
</div>
