    <div class="well">
      <div class="row">
        <div class="col-md-2">
          <%= link_to(image_tag(verify_part.photo.url(:square)), verify_part.photo.url) %>
        </div>
        <div class="col-md-8">
          Project: <%= verify_part.project.name %> <br>
          Part: <%= verify_part.id %><br>
          Expected Dimensions: <%= verify_part.extents %><br>
          Reported Dimensions: <%= verify_part.measurements %><br>
          User: <%= verify_part.user.name %><br>
          Email: <%= verify_part.user.email %><br>
		</div>
        <div class="col-md-2">
		  <div class="">
            <p><button type="button" class="btn btn-primary btn-block">Accept</button></p>
            <p><button type="button" class="btn btn-danger btn-block">Reject</button></p>
            <p><button type="button" class="btn btn-warning btn-block">Unassign</button></p>
		  </div>
        </div>
	  </div>
    </div><!-- /.well -->
