<% if current_user %>
  <h1>Your TODO List</h1>
  <% if @print_job.nil? %>
    <% if @project.part_available? %>
      <div class="well">
        <p class="lead">Get a File to Print!</p>
        <p>
          We are so excited you are ready to help us! Click the button below and we'll assign you a file to print!
        </p>
        <%= project_participate_buttons(@project) %>
      </div> <!-- Well -->
    <% elsif ! @project.complete %>
      <div class="well">
        <p class="lead">All Parts Accounted For!</p>
        <p>
          It looks like all available parts have been claimed for printing at this time! Wow!
        </p>
        <p>
          Keep an eye on this space - if more parts become available, you'll be able to claim one, here.
        </p>
      </div>
    <% end %>
  
  <% elsif @print_job.printing? %>
    <div class="well"><p class="lead">Print!</p>
      <div class="row">
        <div class="col-md-3">
          <p>Here's your file!</p>
          <p><%= part_preview(@print_job.part) %></p>
        </div>
        <div class="col-md-9">
          <p>We've chosen a random part for you to print. Give it a shot!</p>
          <p><%= desired_part_color(@print_job.part) %></p>
          <p><strong>Recommended print settings:</strong> <% if @project.print_settings? %><%= @project.print_settings %><% else %>2 shells. Infill between 5-15%.<% end %></p>
          <p>When the part has finished printing, click the "I Printed It!" button!</p>
          <%= render partial: 'parts/part_public_details', locals: { part: @print_job.part } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pull-right" style="display: flex; justify-content: flex-end">
            <%= link_to "<i class='fa fa-download'></i> Download this Part".html_safe, @print_job.part.download_url, class: "btn btn-primary", style: "margin-right: 1em" %><br>
            <%= link_to "<i class='fa fa-check'></i> I Printed It!".html_safe, [@project, @print_job, :printed], class: "btn btn-primary", method: :post %>
        </div>
      </div>
    </div>
  <% elsif @print_job.printed? %>
    <div class="well">
    <form action="<%= project_print_job_submit_path(@project,@print_job) %>" method="POST" enctype='multipart/form-data'>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <p class="lead"><strong>Verify Part <%= @print_job.part.part_name %></strong></p>
      <div class="row">
        <div class="col-md-2">
          <p><%= part_preview(@print_job.part) %></p>
        </div>
        <div class="col-md-6">
          <p>Thank you for printing this part! There are just a few more steps needed to get your part ready to ship.</p>
          <p>Double-check that the part you printed matches the render photo on the left.</p>
        </div>
        <div class="col-md-4 pull-right">
          <p>Not ready to submit this part? Let's go back to the previous step.</p>
          <%= link_to "Show me this part again", project_print_job_printundo_path(@project,@print_job), class: "btn btn-primary" %>
        </div>
      </div>
      <hr style="border: 1px dashed #999"/>
      <p class="lead">1. Mark and Photograph</p>
      <div class="row">
        <div class="col-md-2">
          <p><%= image_tag "part-marking.jpg", width: '150px' %>
            <span style="font-size: small">Mark your Part: <strong><%= @print_job.part.part_name %></strong></span>
          </p>
        </div>
        <div class="col-md-6">
          <% if @project.marking_instructions %>
            <%= (markdown @project.marking_instructions).gsub('%PARTID%', @print_job.part.part_name).html_safe %>
          <% else %>
          <p>Grab a sharpie and write your Part ID on your finished print!
            <ul>
              <li>Pick a flat side that will end up on the "inside" of the finished build.</li>
              <li>Clearly write your Part ID in Sharpie: <strong><%= @print_job.part.part_name %></strong>.</li>
              <li>Go ahead and sign it. :)</li>
            </ul>
          </p>
          <% end %>
          <p>Don't forget to upload a photo of your part so we can admire your handiwork!</p>
        </div>
        <div class="col-md-4">
          Upload a photo of your finished print.
          <div class="row" style="margin: 10px 0 0 0">
            <input name="photo" type="file" id="photo">
          </div>
        </div>
      </div>
      <hr style="border: 1px dashed #999"/>
      <p class="lead">2. Measure</p>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <p>For sanity's sake, we'd like to make sure that your print matches up with the dimensions of the virtual part.</p>
          <p>Grab a ruler or measuring tape that can measure millimeters. Measure the width, height, and depth of the print and then note them here.</p>
        </div>
        <div class="col-md-4">
          What are the final dimensions of your print (in millimeters)?
          <div class="row-fluid" style="margin: 10px 0 0 0">
            <div class="col-xs-4">
              <input name="x-measure" type="text" class="form-control" placeholder="x">
            </div>
            <div class="col-xs-4">
              <input name="y-measure" type="text" class="form-control" placeholder="y">
            </div>
            <div class="col-xs-4">
              <input name="z-measure" type="text" class="form-control" placeholder="z">
            </div>
          </div>
        </div>
      </div>
      <hr style="border: 1px dashed #999"/>
      <p class="lead">3. Check it In!</p>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-6">
          <p>That's all the details we need for this part! Click "Check it In!" to go to the next step.</p>
        </div>
        <div class="col-xs-4">
          <input type="submit" value="Check it In!" class="btn btn-primary"></input>
        </div>
      </div>
    </form>
    </div><!-- Well -->

  <% elsif @print_job.verifying? %>
  <div class="well"><p class="lead">Awaiting Verification</p>
    <div class="row">
      <div class="col-md-2">
        <%= part_preview(@print_job.part) %>
      </div>
      <div class="col-md-2">
        <%= print_job_photo_preview(@print_job) %>
      </div>
      <div class="col-md-8">
        <p>We're reviewing your photo and measurement info.<br />
        We look through them every few hours, so check back soon!</p>
      </div>
    </div>
  </div>
  <% end %>

  <% if ! @shipping_print_jobs.empty? %>
    <form method="POST" action="<%= ship_project_print_jobs_path(@project) %>">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <h2>Parts Ready to Ship</h2>
    <div class="well">
      <p class="lead">You've Got Parts to Ship!</p>
      <% @shipping_print_jobs.each do |print_job| %>
        <div class="well shipping-part">
          <div class="row">
            <div class="col-md-3">
              <%= part_preview(print_job.part) %>
            </div>
            <div class="col-md-3">
              <%= print_job_photo_preview(print_job) %>
            </div>
            <div class="col-md-6">
              <%= render partial: 'parts/part_public_details', locals: { part: print_job.part } %>
            </div>
            <input type="hidden" name="print_job_ids[]" value="<%= print_job.id %>" />
          </div>
        </div>
      <% end %>
    <p>Thank you so much for your help! Your <%= "print".pluralize(@shipping_print_jobs.size) %> should be ready to ship! Please mail your package to:</p>
    <p><strong><%= markdown (@project.shipping_address || "TBD") %></strong></p>
    <p>Grab a sharpie and write your Part <%= 'ID'.pluralize(@shipping_print_jobs.size) %> on the outside of your shipping box or envelope.<br/>
    This will <em>greatly</em> help us keep track of the <%= @project.parts.size %> parts for this project as they come in!</p>
    <p>
    Please enter your tracking number so we know when it will arrive. Or, if you are planning to deliver them by hand, feel free to enter "delivering by hand" below!
    </p>
    <div class="row">
      <div class="col-xs-4">
        <input name='shipping_info' type="text" class="form-control" placeholder="Tracking Number">
      </div>
      <div class="col-xs-2">
    <input type="submit" value="I Shipped It!" class="btn btn-primary btn-sm"></input>
      </div>
    </div>
    </form>
  </div><!-- Well -->
  <% end %>

  <% if @shipped_print_jobs.size > 0 %>
    <div class="well"><p class="lead">In Transit</p>
      <% @shipped_print_jobs.each do |print_job| %>
        <div class="well shipping-part">
          <div class="row">
            <div class="col-md-2">
              <%= part_preview(print_job.part) %>
            </div>
            <div class="col-md-2">
              <%= print_job_photo_preview(print_job) %>
            </div>
            <div class="col-md-8">
              <%= render partial: 'parts/part_public_details', locals: { part: print_job.part } %>
            </div>
            <input type="hidden" name="print_job_ids[]" value="<%= print_job.id %>" />
          </div>
        </div>
      <% end %>
    <p>
    The above part(s) are in transit! We will update you when we receive your part!</p>
    <p>In the meantime, why not grab another part and start printing?</p>
    </div>
  <% end %>

  <% if @finished_print_jobs.size > 0 %>
    <h2>Your Accepted Parts</h2>
    <p>You have contributed <%= sprintf("%0.2f", (@finished_print_jobs.size.to_f / @project.parts.size.to_f) * 100.0) %>% to the <%= @project.name %> Project!</p>
    <% @finished_print_jobs.each do |fpj| %>
      <div class="well"><p class="lead">Part #<%= fpj.part.id %></p> 
        <div class="row">
          <div class="col-md-2"><%= part_preview(fpj.part) %></div>
          <div class="col-md-2"><%= print_job_photo_preview(fpj) %></div>
          <div class="col-md-8">
            Reported Dimensions: <%= fpj.measurements %><br />
            Tracking Info: <%= fpj.shipping_info %><br />
            Accepted: <%= time_ago_in_words(fpj.updated_at) %> ago<br />
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% elsif ! @project.complete? # no current_user but project is active %>
  <div class="alert">Want to jump in and start printing a part? <%= link_to "Sign in with your Google account", new_user_session_path %> to begin!</div>
<% end # if current_user %>
