    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(
                image_tag(
                  "wethebuilders-white.png",
                ),
                root_path,
                class: "navbar-brand",
                rel: "home",
                title: "We the Builders Home"
              )
          %>
        </div>
        <div class="navbar-collapse collapse">
          <% if user_signed_in? %>
            <div class="navbar-right">
              <%= link_to path_to_builder(current_user) do %>
                <% if ! current_user.avatar.nil? %>
                  <%= image_tag(current_user.avatar, class: 'navatar', alt:'')%>
                  <span><%= current_user.name %></span>
                <% end %>
              <% end %>
              <%= link_to "<i class='fa fa-gear'></i> Account".html_safe, path_to_edit_builder(current_user) %>
              <%= link_to "Sign Out", destroy_user_session_path %>
             </div>
          <% else %>
            <%= link_to(image_tag('google-signin.png'), '/users/auth/google_oauth2', :method => :post, :class=>"navbar-right") %>
          <% end %> 
        </div>
      </div>
    </div>
