
<div class="jumbotron text-center">
  <h2>Let's build big sculptures from small parts!</h2>
  <div class="container">
    <div class="row">
      <% @heroes[0..3].each do |h| %>
        <figure class="thumbnail col-xs-3">
          <%= image_tag h[:src], alt: h[:alt] %>
        </figure>
      <% end %>
    </div>
  </div>
  <h3>You 3D print, document, and ship. We assemble. Together we build crowdsourced sculptures!</h3>
  <div class="container">
    <div class="row">
      <% @heroes[-3,3].each do |h| %>
        <figure class="thumbnail col-xs-4">
          <%= image_tag h[:src], alt: h[:alt] %>
        </figure>
      <% end %>
    </div>
  </div>
  <div class="container call-to-action text-center">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3">
        <%= link_to("Learn how it works", "how-it-works", class:"btn btn-default btn-lg", role: "button") %>
      </div>
      <div class="col-sm-3">
        <% if @project %>
          <%= link_to("See the latest project", @project, class: "btn btn-default btn-lg", role: "button") %>
        <% else %>
          <%= link_to("Sign Up to be Notified about the next project", "sign_up", class:"btn btn-default btn-lg", role: "button") %>
        <% end %>
      </div>
    </div>
    <div class="row" style="margin-top: 1em">
      <div class="col-sm-12">
        <%= link_to("Check out our past projects", projects_path, class:"btn btn-default btn-lg") %>
      </div>
    </div>
  </div>
</div>
