<div id="welcomeCarousel" class="carousel container slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="active item" style="background-image: url('https://s3.amazonaws.com/epluribus/front-rotator/2015-05-16/george-scanning.jpg')"></div>
    <div class="item" style="background-image: url('https://s3.amazonaws.com/epluribus/front-rotator/2015-05-16/marked-parts.jpg')"></div>
    <div class="item" style="background-image: url('https://s3.amazonaws.com/epluribus/front-rotator/2015-05-16/patchwork-of-ben-pieces.jpg')"></div>
    <div class="item" style="background-image: url('https://s3.amazonaws.com/epluribus/front-rotator/2015-05-16/ben-assembly.jpg')"></div>
    <div class="item" style="background-image: url('https://s3.amazonaws.com/epluribus/front-rotator/2015-05-16/ben-hat.jpg')"></div>
    <div class="item" style="background-image: url('https://s3.amazonaws.com/epluribus/front-rotator/2015-05-16/george-complete.jpg')"></div>
    <div class="item" style="background-image: url('https://s3.amazonaws.com/epluribus/front-rotator/2015-05-16/ben-complete.jpg')"></div>
  </div>
</div>

<div class="jumbotron text-center">
  <h2>Let's build big sculptures from small parts!</h2>
  <h3>You 3D print, document, and ship. We assemble. Together we build crowdsourced sculptures!</h3>
  <div class="container call-to-action text-center">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3">
        <%= link_to("Learn how it works", "how-it-works", class:"btn btn-default btn-lg", role: "button") %>
      </div>
      <div class="col-sm-3">
        <% if @project %>
          <%= link_to("See the latest project", @project, class: "btn btn-default btn-lg", role: "button") %>
        <% else %>
          <%= link_to("Sign Up to be Notified about the next project", "sign_up", class:"btn btn-default btn-lg", role: "button") %>
        <% end %>
      </div>
    </div>
    <div class="row" style="margin-top: 1em">
      <div class="col-sm-12">
        <%= link_to("Check out our past projects", projects_path, class:"btn btn-default btn-lg") %>
      </div>
    </div>
  </div>
</div>
<div class="fixed-footer">
  <%= render partial: "shared/footer" %>
</div>
