<div class="jumbotron">
  <div class="container">
    <h1>Welcome</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn More &raquo;</a></p>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <%= link_to(image_tag("george-bust2.png"), project_path(@project)) %>
      <div class="caption">
        <h3><%= @project.name %></h3>
        <% # <p>Recent Activity: User X finished block #100<p> %>
  <p>Total Progress:</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 35%">
      <span class="sr-only">35% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-warning" style="width: 20%">
      <span class="sr-only">20% Complete (warning)</span>
    </div>
  </div>
        <p><%= link_to "Get Involved", project_path(@project), class: "btn btn-primary", role: 'button' %> <a href="model.html" class="btn btn-default" role="button">View 3D model</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "300x200.gif" %>
      <div class="caption">
        <h3>Next Project 1</h3>
        <p>Recent Activity: User X finished block #100<p>
  <p>Total Progress:</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 0%">
      <span class="sr-only">0% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-warning" style="width: 0%">
      <span class="sr-only">0% Complete (warning)</span>
    </div>
  </div>
        <p><a href="#" class="btn btn-primary" role="button">Get Involved</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "300x200.gif" %>
      <div class="caption">
        <h3>Next Project 2</h3>
        <p>Recent Activity: User X finished block #100<p>
  <p>Total Progress:</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 0%">
      <span class="sr-only">0% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-warning" style="width: 0%">
      <span class="sr-only">0% Complete (warning)</span>
    </div>
  </div>
        <p><a href="#" class="btn btn-primary" role="button">Get Involved</a></p>
      </div>
    </div>
  </div>
</div>

<hr>
