<div class="jumbotron">
  <div class="container">
    <h1>Welcome</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn More &raquo;</a></p>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <%= link_to(image_tag("george-bust2.png"), project_participate_path(@project)) %>
      <div class="caption">
        <h3><%= @project.name %></h3>
        <% # <p>Recent Activity: User X finished block #100<p> %>
  <p>Total Progress:</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 35%">
      <span class="sr-only">35% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-warning" style="width: 20%">
      <span class="sr-only">20% Complete (warning)</span>
    </div>
  </div>
        <p><%= link_to (user_signed_in? ? "Get Involved" : "Sign in to Get Involved"), project_participate_path(@project), class: "btn btn-primary", role: 'button' %> <a href="model.html" class="btn btn-default" role="button">View 3D model</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "300x200.gif" %>
      <div class="caption">
        <h3>Next Project 1</h3>
        <p>Recent Activity: User X finished block #100<p>
  <p>Total Progress:</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 0%">
      <span class="sr-only">0% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-warning" style="width: 0%">
      <span class="sr-only">0% Complete (warning)</span>
    </div>
  </div>
        <p><a href="#" class="btn btn-primary" role="button">Get Involved</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "300x200.gif" %>
      <div class="caption">
        <h3>Next Project 2</h3>
        <p>Recent Activity: User X finished block #100<p>
  <p>Total Progress:</p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 0%">
      <span class="sr-only">0% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-warning" style="width: 0%">
      <span class="sr-only">0% Complete (warning)</span>
    </div>
  </div>
        <p><a href="#" class="btn btn-primary" role="button">Get Involved</a></p>
      </div>
    </div>
  </div>
</div>

<div class="well well-lg">
<h3>How it works</h3>
<ol>
<li><a href="<%= user_omniauth_authorize_path(:google_oauth2) %>">Sign in with your Google+ account</a></li>
<li>Commit to a project. You will get assigned a new block to print</li>
<li>Print your given block within 1 week. You have the option to print in whatever color you want, and to inscribe your initials on a non-visable face of your block</li>
<li>Verify that you have printed your block by uploading a photo of your printed block</li>
<li>Your print will be verified within 48 hours, and you will receive an address to mail your block</li>
<li>When all blocks for a project have been completed, they will be glued and assembled to present next to the original statue! Your name will appear here on the website as a valued contributor to the project!</li>
</ol>
</div>

<hr>
