<%= form_for(@project, html: {role: 'form'}) do |f| %>
  <div class="form-group">
    <label for="name">Name</label>
    <%= f.text_field :name, class: 'form-control', placeholder: 'My Awesome Project' %>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <span class="help-block"><a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> and <a href="http://getbootstrap.com/css/">Bootstrap HTML</a> are supported.</span>
    <%= f.text_area :description, class: 'form-control', rows: 20 %>
  </div>
  <div class="form-group">
    <label for="preview_stl">Printing Instructions</label>
    <span class="help-block"><a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> and <a href="http://getbootstrap.com/css/">Bootstrap HTML</a> are supported.</span>
    <%= f.text_area :print_settings, class: 'form-control', rows: 20 %>
  </div>
  <div class="form-group">
    <label for="marking-instructions">Marking and Packaging Instructions</label>
    <span class="help-block">Special instructions for marking and packing the printed parts, if any. <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> and <a href="http://getbootstrap.com/css/">Bootstrap HTML</a> are supported.</span>
    <%= f.text_area :marking_instructions, class: 'form-control', rows: 10 %>
  </div>
  <div class="form-group">
    <label for="shipping_address">Shipping Address</label>
    <span class="help-block"><a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> is supported.</span>
    <%= f.text_area :shipping_address, class: 'form-control', rows: 4 %>
  </div>
  <div class="form-group">
    <label for="preview_stl">Preview STL URL</label>
    <%= f.text_field :preview_stl, class: 'form-control', placeholder: 'http://example.com/some/model.stl' %>
  </div>
  <div class="form-group">
    <label for="preview_stl">Preview Image URL</label>
    <%= f.text_field :preview_img, class: 'form-control', placeholder: 'http://placekitten.com/500/500' %>
  </div>
  <div class="form-group">
    <label for="parts_in_reserve">Parts in Reserve</label>
    <span class="help-block">If the number of unclaimed parts is below this number, stop giving out parts. Maximum: <%= @project.parts.size %></span>
    <%= f.number_field :parts_in_reserve, class: 'form-control', style: 'width: 10em' %>
  </div>
  <div class="form-group">
    <label for="marking_instructions_photo">Marking Instructions Image URL</label>
    <span class="help-block">(Optional) A photo to demonstrate special instructions for marking the printed parts, if any.</span>
    <%= f.text_field :marking_instructions_photo, class: 'form-control', placeholder: 'http://placekitten.com/200/200' %>
  </div>
  <%= f.submit class: 'btn btn-primary', value: 'Save Details' %>
<% end %>
