<% content_for :title do %>Edit project <%= ActionView::Base.full_sanitizer.sanitize(@project.id.to_s) %> – <% end %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= form_with model: @project, multipart: true do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'My Awesome Project' %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description" %>
    <span class="help-block"><a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> and <a href="http://getbootstrap.com/css/">Bootstrap HTML</a> are supported.</span>
    <%= f.text_area :description, class: 'form-control', rows: 20 %>
  </div>
  <div class="form-group">
    <%= f.label :print_settings, "Printing Instructions" %>
    <span class="help-block"><a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> and <a href="http://getbootstrap.com/css/">Bootstrap HTML</a> are supported.</span>
    <%= f.text_area :print_settings, class: 'form-control', rows: 20 %>
  </div>
  <div class="form-group">
    <%= f.label :marking_instructions, "Marking and Packaging Instructions" %>
    <span class="help-block">Special instructions for marking and packing the printed parts, if any. <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> and <a href="http://getbootstrap.com/css/">Bootstrap HTML</a> are supported.</span>
    <%= f.text_area :marking_instructions, class: 'form-control', rows: 10 %>
  </div>
  <div class="form-group">
    <%= f.label :marking_instructions_image, "Marking Instructions Image" %>
    <span class="help-block">(Optional) A photo to demonstrate special instructions for marking the printed parts, if any.</span>
    <% if @project.marking_instructions_image.attached? %>
      <%= image_tag @project.marking_instructions_image, style: "display: block; max-height: 200px" %>
    <% end %>
    <%= f.file_field :marking_instructions_image, class: 'form-control', accept: "image/jpeg" %>
  </div>
  <div class="form-group">
    <%= f.label :shipping_address, "Shipping or Delivery Details" %>
    <span class="help-block"><a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> is supported.</span>
    <%= f.text_area :shipping_address, class: 'form-control', rows: 4 %>
  </div>
  <div class="form-group">
    <%= f.label :preview_model, "Preview Model" %>
    <span class="help-block">An STL for preview in a 3D model viewer</span>
    <% if @project.preview_model.attached? %>
    <p>Current file: <%= link_to @project.preview_model.filename, @project.preview_model.url %></p>
    <% end %>
    <%= f.file_field :preview_model, class: 'form-control', accept: ".stl" %>
  </div>
  <div class="form-group">
    <%= f.label :preview_image, "Preview Image" %>
    <span class="help-block">Photo or render. Square-ish. 500x500 is good.</span>
    <% if @project.preview_image.attached? %>
    <%= image_tag @project.preview_image.variant(:thumb), style: "max-height: 200px"  %>
    <% end %>
    <%= f.file_field :preview_image, class: 'form-control', accept: "image/jpeg, image/png" %>
  </div>
  <div class="form-group">
    <%= f.label :parts_in_reserve, "Parts in Reserve" %>
    <span class="help-block">If the number of unclaimed parts is below this number, stop giving out parts. Maximum: <%= @project.parts.size %></span>
    <%= f.number_field :parts_in_reserve, class: 'form-control', style: 'width: 10em' %>
  </div>
  <%= f.submit class: 'btn btn-primary', value: 'Save Details' %>
<% end %>
