<% content_for :title do %>Projects – <% end %>
<% if @project %>
<div class="container">
<div class="row">
  <div class="col-md-4 desc-column">
    <h1>Current Project</h1>
    <div class="thumbnail">
      <% img = @project.preview_image.attached? ? @project.preview_image.variant(:thumb) : @project.preview_img %>
      <%= link_to(image_tag(img), project_path(@project)) %>
      <div class="caption">
        <h3><%= @project.name %></h3>
  <p>Total Progress:</p>
    <%= project_progress_bar(@project) %>
        <p>
          <%= link_to "Learn More", project_path(@project), class: "btn btn-primary", role: 'button' %>
          <% if @project.preview_model.attached? || @project.preview_stl %>
            <%= link_to "View 3D model", project_preview_path(@project), class: "btn btn-default", role: "button" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <% if @older_projects && !@older_projects.empty? %>
      <div class="col-md-8">
        <h3>Completed Projects</h3>
        <div class="completed-projects">
          <% @older_projects.each do |old_proj| %>
            <div class="completed-project">
              <%= link_to(image_tag(old_proj.preview_img), project_path(old_proj), class: "completed-project-image") %>
              <h4 class="completed-project-title"><%= old_proj.name %></h4>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
</div>
<% end %>
