<% if @project %>
<div class="container">
<div class="row">
  <div class="col-md-4 desc-column">
    <h1>Current Project</h1>
    <div class="thumbnail">
      <%= link_to(image_tag(@project.preview_img), project_path(@project)) %>
      <div class="caption">
        <h3><%= @project.name %></h3>
  <p>Total Progress:</p>
    <%= project_progress_bar(@project) %>
        <p>
          <%= link_to "Learn More", project_path(@project), class: "btn btn-primary", role: 'button' %>
          <% if @project.preview_stl %>
            <%= link_to "View 3D model", project_preview_path(@project), class: "btn btn-default", role: "button" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <% if @older_projects && !@older_projects.empty? %>
      <div class="col-md-8">
        <h3>Completed Projects</h3>
        <% @older_projects.each do |old_proj| %>
          <div class="col-md-3 text-center">
            <div class="row">
              <div class="col-xs-12">
                <h4 style="margin-top: 5px;"><%= old_proj.name %></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <%= link_to(image_tag(old_proj.preview_img, style: "width: 200px"), project_path(old_proj)) %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <%= link_to "Learn More", project_path(old_proj), class: "btn", role: 'button' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>
</div>
</div>
<% end %>
