<% content_for :head do %>
	<% desc = truncate(ActionView::Base.full_sanitizer.sanitize(@project.description), :length => 155, :separator => '…').gsub(/\n+/, ' ') %>
	<meta name="description" content="<%= desc %>"/>
	<meta property="og:url" content="<%= request.original_url %>" />
	<meta property="og:title" content="<%= @project.name %> – We the Builders" />
	<meta property="og:description" content="<%= desc %>" />
  <% img = @project.preview_image.attached? ? @project.preview_image.variant(:thumb).url : @project.preview_img -%>
  <% if img %>
    <meta property="og:image" content="<%= img %>" />
  <% end %>
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@we_the_builders" />
<% end %>
<% content_for :title do %><%= @project.name %> – <% end %>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <% if ! @project.complete? %>
    <%= render partial: 'shared/builder_todo' %>
  <% end %>
  <div class="row">
    <div class="col-md-9 h-feed">
      <h1>
        <span class="p-name"><%= @project.name %></span>
        <% if current_user && @project.user_is_admin?(current_user) %>
          <%= link_to("Edit Project Details", edit_project_path(@project), class: "btn btn-primary") %>
        <% end %>
      </h1>
      <div class="project-description">
        <%= @project.details_content %>
      </div>
      <%= render partial: 'contributors', locals: { people: @team_contributors, type: 'team' } %>
      <%= render partial: 'contributors', locals: { people: @individual_contributors, type: 'individual' } %>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="thumbnail">
          <%= render partial: 'stats', locals: { project: @project } %>
        </div>
      </div>
      <div class="row project-pg-activity">
        <div class="thumbnail">
          <h4 class="text-center">Recent Activity</h4>
          <div class="recent-activity">
            <%= render partial: "print_job_activity", collection: @activity %>
            <% if @activity.empty? || @activity.size < 5 %>
              <div class="row">
                <div class="col-md-12">
                  Project Updated: <%= time_ago_in_words(@project.updated_at) %> ago
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if ! @project.complete? %>
    <%= render partial: 'shared/builder_todo' %>
  <% end %>
</div>
