<div class="container">
  <%= render partial: 'shared/builder_todo' %>
  <div class="row">
    <div class="col-md-9">
      <h1>
        <%= @project.name %>
        <% if current_user && @project.user_is_admin?(current_user) %>
          <%= link_to("Edit Project Details", edit_project_path(@project), class: "btn btn-primary") %>
        <% end %>
      </h1>
      <div class="project-description">
        <%= markdown @project.description %>
      </div>
      <%= render partial: 'contributors', locals: { people: @project.contributors } %>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="thumbnail">
          <%= link_to(image_tag(@project.preview_img), project_path(@project)) %>
          <div class="caption">
            <p>Total Progress:</p>
            <%= project_progress_bar(@project) %>
            <% if current_user && @project.user_is_admin?(current_user) %>
              <%= link_to("Parts Admin", project_parts_path(@project), class: "btn btn-primary") %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row project-pg-activity">
        <div class="thumbnail">
          <h4 class="text-center">Recent Activity</h4>
          <div class="recent-activity">
            <%= render partial: "print_job_activity", collection: @activity %>
            <% if @activity.empty? || @activity.size < 5 %>
              <div class="row">
                <div class="col-md-12">
                  Project Updated: <%= time_ago_in_words(@project.updated_at) %> ago
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
