<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1><%= @project.name %></h1>
      <div class="project-description">
        <%= markdown @project.description %>
      </div>
      <%= render partial: 'contributors', locals: { people: @project.contributors } %>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to(image_tag(@project.preview_img), project_path(@project)) %>
        <div class="caption">
          <p>Total Progress:</p>
          <%= project_progress_bar(@project) %>
          <% if current_user.is_admin? %>
            <%= link_to("Project Admin", project_parts_path(@project), class: "btn btn-primary") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <h1>Your TODO List</h1>
  <% if @part.nil? %>
    <% if @project.part_available? %>
      <div class="well">
        <p class="lead">Get a File to Print!</p>
        <p>
          We are so excited you are ready to help us! Click the button below and we'll assign you a file to print!
        </p>
        <%= link_to "I'm Ready, Give me a File to Print!", project_participate_path(@project), class: "btn btn-primary btn-sm" %>
      </div> <!-- Well -->
    <% else %>
      <div class="well">
        <p class="lead">All Parts Accounted For!</p>
        <p>
          It looks like all parts have been claimed for printing at this time! Wow!
        </p>
        <p>
          Keep an eye on this space - if a part becomes available, you'll be able to claim it, here.
        </p>
      </div>
    <% end %>
	
  <% elsif @part.printing? %>
    <div class="well"><p class="lead">Print!</p>
          <p>Here's your file!</p>
          <p><%= part_preview(@part) %></p>
      <div class="row">
        <div class="col-md-6">
          <%= link_to "Download STL File", @part.model_url, class: "btn btn-primary" %><br>
        </div>
        <div class="col-md-6">
		  <div class="pull-right">
            <%= button_to "I'm Done! Now What?", [@project, @part, :printed], {class: "btn btn-success"} %>
		  </div>
        </div>
      </div>
    </div>
  <% elsif @part.printed? %>
    <div class="well"><p class="lead">Approve </p>
    <p>Time to submit a photo and measurements!</p>
    <p><%= part_preview(@part) %></p>
    <form action="<%= project_part_submit_path(@project,@part) %>" method="POST" enctype='multipart/form-data'>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    Please upload a photo of your finished print. <input name="photo" type="file" id="photo">
    <br>
    What are the final dimenions of your print (in millimeters)?
    <div class="row">
      <div class="col-xs-2">
        <input name="x-measure" type="text" class="form-control" placeholder="x">
      </div>
      <div class="col-xs-2">
        <input name="y-measure" type="text" class="form-control" placeholder="y">
      </div>
      <div class="col-xs-2">
        <input name="z-measure" type="text" class="form-control" placeholder="z">
      </div>
      <div class="col-xs-2">
      <input type="submit" value="Submit" class="btn btn-primary btn-sm"></input>
      </div>
    </div>
    </form>
    </div><!-- Well -->

  <% elsif @part.verification? %>
  <div class="well"><p class="lead">Awaiting Verification</p>
    <div class="row">
      <div class="col-md-2">
        <%= part_preview(@part) %>
      </div>
      <div class="col-md-2">
        <%= part_photo_preview(@part) %>
      </div>
      <div class="col-md-8">
        <p>We're reviewing your photo and measurement info.<br />
        We look through them every few hours, so check back soon!</p>
      </div>
    </div>
	</div>
  <% end %>

  <% if ! @shipping_parts.empty? %>
    <form method="POST" action="<%= ship_project_parts_path(@project) %>">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <h2>Parts Ready to Ship</h2>
    <div class="well">
      <p class="lead">You've Got Parts to Ship!</p>
      <% @shipping_parts.each do |part| %>
        <div class="well shipping-part">
          <div class="row">
            <div class="col-md-2">
              <%= part_preview(part) %>
            </div>
            <div class="col-md-2">
              <%= part_photo_preview(part) %>
            </div>
            <div class="col-md-8">
              <%= render partial: 'parts/part_public_details', locals: { part: part } %>
            </div>
            <input type="hidden" name="part_ids[]" value="<%= part.id %>" />
          </div>
        </div>
      <% end %>
    <p>Thank you so much for your help! Now that we have approved your <%= "print".pluralize(@shipping_parts.size) %>, please mail <%= 'it'.pluralize(@shipping_parts.size) %> to:
    </p>
    <p>
    <strong>
    Todd Blatt<br />
    10310 S Dolfield Rd<br />
    Owings Mills, MD 21117
    </strong></p>
    <p>
    Please enter your UPS tracking number so we know when it will arrive.
    </p>
    <div class="row">
      <div class="col-xs-4">
        <input name='shipping_info' type="text" class="form-control" placeholder="UPS tracking Number">
      </div>
      <div class="col-xs-2">
    <input type="submit" value="Submit" class="btn btn-primary btn-sm"></input>
      </div>
    </div>
    </form>
	</div><!-- Well -->
  <% end %>

  <% if @shipped_parts.count > 0 %>
    <div class="well"><p class="lead">In Transit</p>
      <% @shipped_parts.each do |part| %>
        <div class="well shipping-part">
          <div class="row">
            <div class="col-md-2">
              <%= part_preview(part) %>
            </div>
            <div class="col-md-2">
              <%= part_photo_preview(part) %>
            </div>
            <div class="col-md-8">
              <%= render partial: 'parts/part_public_details', locals: { part: part } %>
            </div>
            <input type="hidden" name="part_ids[]" value="<%= part.id %>" />
          </div>
        </div>
      <% end %>
    <p>
    The above part(s) are in transit! We will update you when we receive your part!</p>
    <p>In the meantime, why not grab another part and start printing?</p>
    </div>
  <% end %>

  <% if @finished_parts.count > 0 %>
    <h2>Your Accepted Parts</h2>
    <p>You have contributed <%= sprintf("%0.2f", (@finished_parts.count.to_f / @project.parts.count.to_f) * 100.0) %>% to the <%= @project.name %> Project!</p>
    <% @finished_parts.each do |fp| %>
      <div class="well"><p class="lead">Part #<%= fp.id %></p> 
        <div class="row">
          <div class="col-md-2">
            <%= part_preview(fp) %>
          </div>
          <div class="col-md-2">
            <%= part_photo_preview(fp) %>
          </div>
          <div class="col-md-8">
            Reported Dimensions: <%= fp.measurements %><br />
            Tracking Info: <%= fp.shipping_info %><br />
            Accepted: <%= time_ago_in_words(fp.updated_at) %> ago<br />
          </div>
        </div>
      </div>
    <% end %>
    </div> <!-- Well -->
  <% end %>
