<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>
        <%= @project.name %>
        <% if current_user && current_user.is_admin? %>
          <%= link_to("Edit Project Details", edit_project_path(@project), class: "btn btn-primary") %>
        <% end %>
      </h1>
      <div class="project-description">
        <%= markdown @project.description %>
      </div>
      <%= render partial: 'contributors', locals: { people: @project.contributors } %>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="thumbnail">
          <%= link_to(image_tag(@project.preview_img), project_path(@project)) %>
          <div class="caption">
            <p>Total Progress:</p>
            <%= project_progress_bar(@project) %>
            <% if current_user && current_user.is_admin? %>
              <%= link_to("Parts Admin", project_parts_path(@project), class: "btn btn-primary") %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row project-pg-activity">
        <div class="thumbnail">
        <h4 class="text-center">Recent Activity</h4>
        <div class="recent-activity">
          <%= render partial: "print_job_activity", collection: @activity %>
          <% if @activity.empty? || @activity.size < 5 %>
            <div class="row">
              <div class="col-md-12">
                Project Updated: <%= time_ago_in_words(@project.updated_at) %> ago
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if current_user %>
    <hr />
    <h1>Your TODO List</h1>
    <% if @print_job.nil? %>
      <% if @project.part_available? %>
        <div class="well">
          <p class="lead">Get a File to Print!</p>
          <p>
            We are so excited you are ready to help us! Click the button below and we'll assign you a file to print!
          </p>
          <%= project_participate_buttons(@project) %>
        </div> <!-- Well -->
      <% else %>
        <div class="well">
          <p class="lead">All Parts Accounted For!</p>
          <p>
            It looks like all parts have been claimed for printing at this time! Wow!
          </p>
          <p>
            Keep an eye on this space - if a part becomes available, you'll be able to claim it, here.
          </p>
        </div>
      <% end %>
    
    <% elsif @print_job.printing? %>
      <div class="well"><p class="lead">Print!</p>
        <div class="row">
          <div class="col-md-3">
            <p>Here's your file!</p>
            <p><%= part_preview(@print_job.part) %></p>
          </div>
          <div class="col-md-9">
            <p>We've chosen a random part for you to print. Give it a shot!</p>
            <p><%= desired_part_color(@print_job.part) %></p>
            <p><strong>Recommended print settings:</strong> 2 shells. Infill between 5-15%.</p>
            <p>When the part has finished printing, click the "I'm Done!" button!</p>
            <%= render partial: 'parts/part_public_details', locals: { part: @print_job.part } %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= link_to "Download STL File", @print_job.part.download_url, class: "btn btn-primary" %><br>
          </div>
          <div class="col-md-6">
        <div class="pull-right">
              <%= button_to "I'm Done! Now What?", [@project, @print_job, :printed], {class: "btn btn-success"} %>
        </div>
          </div>
        </div>
      </div>
    <% elsif @print_job.printed? %>
      <div class="well">
      <form action="<%= project_print_job_submit_path(@project,@print_job) %>" method="POST" enctype='multipart/form-data'>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <p class="lead">Mark and Photograph</p>
        <div class="row">
          <div class="col-md-2">
            <p><%= image_tag "part-marking.jpg", width: '150px' %>
              <span style="font-size: small">Mark your Part: <strong><%= @print_job.part.part_name %></strong></span>
            </p>
          </div>
          <div class="col-md-6">
            <p>Grab a sharpie and write your Part ID on your finished print!
              <ul>
                <li>Pick a flat side that will end up on the "inside" the finished build.</li>
                <li>Clearly write your Part ID in Sharpie: <strong><%= @print_job.part.part_name %></strong>.</li>
                <li>Go ahead and sign it. :)</li>
              </ul>
            </p>
            <p>Don't forget to upload a photo of your part so we can admire your handiwork!</p>
          </div>
          <div class="col-md-4">
            Upload a photo of your finished print.
            <div class="row" style="margin: 10px 0 0 0">
              <input name="photo" type="file" id="photo">
            </div>
          </div>
        </div>
        <hr style="border: 1px dashed #999"/>
        <p class="lead">Measure</p>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <p>For sanity's sake, we'd like to make sure that your print matches up with the dimensions of the virtual part.</p>
            <p>Grab a ruler or measuring tape that can measure millimeters. Measure the width, height, and depth of the print and then note them here.</p>
          </div>
          <div class="col-md-4">
            What are the final dimensions of your print (in millimeters)?
            <div class="row-fluid" style="margin: 10px 0 0 0">
              <div class="col-xs-4">
                <input name="x-measure" type="text" class="form-control" placeholder="x">
              </div>
              <div class="col-xs-4">
                <input name="y-measure" type="text" class="form-control" placeholder="y">
              </div>
              <div class="col-xs-4">
                <input name="z-measure" type="text" class="form-control" placeholder="z">
              </div>
            </div>
          </div>
        </div>
        <hr style="border: 1px dashed #999"/>
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-6">
            Thanks for the details! Let's go to the next step!
          </div>
          <div class="col-xs-4">
            <input type="submit" value="All Done! Submit it!" class="btn btn-primary btn-lg"></input>
          </div>
        </div>
      </form>
      </div><!-- Well -->

    <% elsif @print_job.verifying? %>
    <div class="well"><p class="lead">Awaiting Verification</p>
      <div class="row">
        <div class="col-md-2">
          <%= part_preview(@print_job.part) %>
        </div>
        <div class="col-md-2">
          <%= print_job_photo_preview(@print_job) %>
        </div>
        <div class="col-md-8">
          <p>We're reviewing your photo and measurement info.<br />
          We look through them every few hours, so check back soon!</p>
        </div>
      </div>
    </div>
    <% end %>

    <% if ! @shipping_print_jobs.empty? %>
      <form method="POST" action="<%= ship_project_print_jobs_path(@project) %>">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <h2>Parts Ready to Ship</h2>
      <div class="well">
        <p class="lead">You've Got Parts to Ship!</p>
        <% @shipping_print_jobs.each do |print_job| %>
          <div class="well shipping-part">
            <div class="row">
              <div class="col-md-2">
                <%= part_preview(print_job.part) %>
              </div>
              <div class="col-md-2">
                <%= print_job_photo_preview(print_job) %>
              </div>
              <div class="col-md-8">
                <%= render partial: 'parts/part_public_details', locals: { part: print_job.part } %>
              </div>
              <input type="hidden" name="print_job_ids[]" value="<%= print_job.id %>" />
            </div>
          </div>
        <% end %>
      <p>Thank you so much for your help! Now that we have approved your <%= "print".pluralize(@shipping_print_jobs.size) %>, please mail <%= 'it'.pluralize(@shipping_print_jobs.size) %> to:
      </p>
      <p>
      <strong>
      Todd Blatt<br />
      10310 S Dolfield Rd<br />
      Owings Mills, MD 21117
      </strong></p>
      <p>
      Please enter your tracking number so we know when it will arrive.
      </p>
      <div class="row">
        <div class="col-xs-4">
          <input name='shipping_info' type="text" class="form-control" placeholder="Tracking Number">
        </div>
        <div class="col-xs-2">
      <input type="submit" value="Submit" class="btn btn-primary btn-sm"></input>
        </div>
      </div>
      </form>
    </div><!-- Well -->
    <% end %>

    <% if @shipped_print_jobs.size > 0 %>
      <div class="well"><p class="lead">In Transit</p>
        <% @shipped_print_jobs.each do |print_job| %>
          <div class="well shipping-part">
            <div class="row">
              <div class="col-md-2">
                <%= part_preview(print_job.part) %>
              </div>
              <div class="col-md-2">
                <%= print_job_photo_preview(print_job) %>
              </div>
              <div class="col-md-8">
                <%= render partial: 'parts/part_public_details', locals: { part: print_job.part } %>
              </div>
              <input type="hidden" name="print_job_ids[]" value="<%= print_job.id %>" />
            </div>
          </div>
        <% end %>
      <p>
      The above part(s) are in transit! We will update you when we receive your part!</p>
      <p>In the meantime, why not grab another part and start printing?</p>
      </div>
    <% end %>

    <% if @finished_print_jobs.size > 0 %>
      <h2>Your Accepted Parts</h2>
      <p>You have contributed <%= sprintf("%0.2f", (@finished_print_jobs.size.to_f / @project.parts.size.to_f) * 100.0) %>% to the <%= @project.name %> Project!</p>
      <% @finished_print_jobs.each do |fpj| %>
        <div class="well"><p class="lead">Part #<%= fpj.part.id %></p> 
          <div class="row">
            <div class="col-md-2">
              <%= part_preview(fpj.part) %>
            </div>
            <div class="col-md-2">
              <%= print_job_photo_preview(fpj) %>
            </div>
            <div class="col-md-8">
              Reported Dimensions: <%= fpj.measurements %><br />
              Tracking Info: <%= fpj.shipping_info %><br />
              Accepted: <%= time_ago_in_words(fpj.updated_at) %> ago<br />
            </div>
          </div>
        </div>
      <% end %>
      </div> <!-- Well -->
    <% end %>
  <% end # if current_user %>
