<!DOCTYPE html>
<html>
<head>
  <title>Epluribus</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  Hi, <%= current_user.name %>
  <% if ! current_user.avatar.nil? %>
    <img src="<%= current_user.avatar %>"/>
  <% end %>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>

</body>
</html>
