<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield :title %>We the Builders</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_importmap_tags %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

  <%= render partial: "shared/navbar" %>

  <%= content_for?(:content) ? yield(:content) : yield %>

  <%= content_for?(:footer) ? yield(:footer) : (render partial: "shared/footer") %>

</body>
</html>
