<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield :title %>We the Builders</title>
  <!-- Bootstrap -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :head %>
</head>
<body>

  <%= render partial: "shared/navbar" %>

  <%= content_for?(:content) ? yield(:content) : yield %>

  <%= content_for?(:footer) ? yield(:footer) : (render partial: "shared/footer") %>

</body>
</html>
